.Cart {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 410px;
  overflow-y: auto;
  flex-direction: column;
  width: 90%;
  max-width: 960px;
  background: #ffffff;
  border-radius: 10px;
}

.Cart-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 71px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.Cart-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700px;
}

.Cart-list {
  display: flex;
  flex-direction: column;
}

.Cart-final {
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
}

.Cart-final_empty {
  align-self: center;
}

.Cart-amount {
  margin-left: 53px;
}