.Product {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.Product-head {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}

.Product-title {
  padding: 20px;
  background-color: #F5F5F5;
}

.Product-field {
  margin-bottom: 20px;
}

.Product-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 40px;
}

.Product-content {
  padding: 40px;
  padding-bottom: 0;
}

.Product-price {
  font-size: 24px;
  font-weight: 700;
}

.Product-button {
  width: 76px;
  margin-left: 40px;
  padding: 3px 8px;
  font-size: 13px;
  border: 1px solid #767676;
  border-radius: 4px;

  &:hover {
    border: 1px solid #0087E9;
  }

  &:active {
    background-color: #767676;
  }
}