.Product {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.Product-field {
  margin-bottom: 20px;
  padding-right: 25px;
}

.Product-content {
  padding: 0 40px;
}

.Product-price {
  font-size: 24px;
  font-weight: 700;
}

.Product-button {
  width: 76px;
  margin-left: 40px;
  padding: 3px 8px;
  font-size: 13px;
  border: 1px solid #767676;
  border-radius: 4px;
  cursor: pointer;
}